@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100; 200;300;400;500;600;700;800;900&display=swap');

a, body, div, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, nav, p, s, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

li, ul {
    padding: 0;
    margin: 0;
    list-style: none
}

footer, header, nav {
    display: block
}

* {
    box-sizing: border-box
}

body, html {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale

}

/*SuB Profile place*/
.sub-profile-wrap {
    position: absolute;
    top: 100%;
    right: -1%;
    width: 260px;
    max-height: 0;
    overflow: hidden;
    transition: max-width 0.5s;
}

.open-profile {
    max-width: 260px;
}

.navbarlinks-wrap {
    position: absolute;
    top: 100%;
    right: -1%;
    width: 260px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#NavbarLinksId {
    box-shadow: none;
}

.openRsNav {
    max-width: 100px;
    box-shadow: none;
}

.navbarlinks.openRsNav {
    max-width: 400px;
}

.navbarlinks-wrap.openRsNav {
    max-width: 600px;
}

.user-pic {
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.sub-profile.open-profile {
    max-height: 400px;
}

.sub-profile-wrap.open-profile {
    max-height: 400px;
}

.sub-profile {
    background: #fff;
    border-radius: 5%;
    box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.15);
    font-family: Montserrat, sans-serif;
    padding: 1rem;
    margin: 10px;
}

.sub-profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 7px 0;
}

.sub-profile-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 0px;
}

.drpdwnBttn {
    width: 50px;
    height: 50px;
    max-width: 0;
}

.sub-profile-link span {
    transition: transform 0.5s;
}

.sub-profile-link:hover span {
    transform: translateX(5px);
}

.sub-profile-link p {
    width: 100%;
}

.sub-profile-link:hover p {
    font-weight: 600;
}

.sub-profile a img {
    width: 45px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 15px;
}

.sub-profile hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: black;
    margin: 15px 0 10px;

}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;

}

/*SuB Profile place end*/

a {
    text-decoration: none !important
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0
}

ul {
    margin-bottom: 0
}

p {
    font-size: 15px;
    line-height: 30px;
    color: #2a2a2a
}

img {
    width: 100%;
    overflow: hidden
}


::selection {
    background: #03a4ed;
    color: #fff
}

::-moz-selection {
    background: #03a4ed;
    color: #fff
}

@media (max-width: 991px) {
    body, html {
        overflow-x: hidden
    }
}

.background-header .logo,
.background-header .main-nav .nav .navbarlinks a {
    color: #1e1e1e !important;
}

.background-header .nav .navbarlinks a.active {
    color: #8d99af !important;
}

.header-area .main-nav {
    min-height: 80px;
    background: 0 0;
}

.header-area a.logo {
    background-image: url(../image/blacklogo.png);
    width: 170px;
    height: 75px;
    display: inline-block;
}

.background-header a.logo {
    background-image: url(../image/blacklogo.png);
    width: 170px;
    height: 75px;
    display: inline-block;
}


.header-area .main-nav .nav {
    float: right;
    margin-top: 30px;
    margin-right: 0;
    background-color: transparent;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    position: relative;
    z-index: 999;
}

.item-nav {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5px;
}

.item-nav:hover {
    background-color: rgba(255, 0, 0, 0.51);
}

#ITEMNAV1 {
    padding-right: 1rem;
    padding-left: 1rem;
}

#ITEMNAV2 {
    padding-right: 1rem;
    padding-left: 1rem;
}

#ITEMNAV3 {
    padding-right: 1rem;
    padding-left: 1rem;
}

#ITEMNAV4 {
    padding-right: 1rem;
    padding-left: 1rem;
}

#ITEMNAV5 {
    padding-right: 1rem;
    padding-left: 1rem;
}

#respProfileIcon {
    max-width: 0;
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.navbarlinks a {
    display: block;
    font-weight: 650;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
    color: #252525;
    text-transform: uppercase;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px
}

.navbarlinks a.active, .header-area .main-nav .nav .navbarlinks :hover a {
    color: #8D99AF !important;
}

.navbarlinks :last-child a:hover {
    background-color: #eae9e7
}

.header-area.header-sticky {
    min-height: 80px;
}

.navbarlinks a.active {
    color: #8d99af
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px)
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px)
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px)
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px)
    }
}

@media (max-width: 1200px) {

    .header-area .main-nav:before {
        display: none
    }

    #respProfileIcon {
        max-width: 0;
    }

    .user-pic {
        max-width: 100px;
    }
}

@media (max-width: 992px) {
    #respProfileIcon {
        max-width: 0px;
    }

    .user-pic {
        max-width: 100px;
    }

    .header-area a.logo {
        background-image: url(../image/blacklogo.png);
        width: 140px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        float: left
    }

    /*.header-area .main-nav .nav  .item-nav{*/
    /*    padding-left: 0;*/
    /*    padding-right: 0;*/
    /*}*/
    .navbarlinks a {
        font-size: 12px;
    }

    #ITEMNAV1, #ITEMNAV2, #ITEMNAV3, #ITEMNAV4, ITEMNAV5 {
        padding-left: 12px;
        padding-right: 12px;

    }

    .navbarlinks :nth-child(6) {
        padding-right: 0
    }
}

@media (max-width: 768px) {
    .header-area a.logo {
        background-image: url(../image/blacklogo.png);
        width: 130px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        float: left
    }

    #NavbarLinksId {
        box-shadow: none;
    }

    #respProfileIcon {
        max-width: 100px;
    }

    .user-pic {
        max-width: 0;
    }

    .drpdwnBttn {
        max-height: 100px;
        max-width: 100px;
    }

    .header-area .logo {
        margin-left: 0;
    }

    .header-area .logo {
        color: #1e1e1e
    }

    .navbarlinks a.active, .header-area.header-sticky .nav .navbarlinks a:hover {
        color: #8d99af !important;
        opacity: 100%;
    }

    .col-12 {
        padding: 0;
    }

    .header-area {
        background-color: #f7f7f7;
        padding: 0 2rem;
        box-shadow: none;
        text-align: center
    }

    .header-area .logo {
    }

    .navbarlinks {
        flex-direction: column;
        overflow: hidden;
        order: 3;
        width: 100%;
        max-width: 0;
        flex-wrap: wrap;
    }

    .header-area .main-nav ul div {
        /*overflow: hidden;*/
        /*max-height: 0;*/
    }

    .header-area .main-nav .nav {
        display: flex;
        justify-content: right;
    }

    .header-area .main-nav {
        align-items: center;
    }

    .header-area .main-nav .nav .navbarlinks {
        float: none;
        width: 100%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0
    }

    .navbarlinks :first-child {
        border-top: 1px solid #eee
    }

    .header-area .main-nav .nav {
        display: flex;
        justify-content: right;

    }

    .navbarlinks {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #e7e7e7;
        /*padding-left: 0 !important;*/
        /*padding-right: 0 !important*/
    }

    .navbarlinks a {
        height: 50px !important;
        line-height: 50px !important;
        /*padding: 0 !important;*/
        border: none !important;
        background: #f7f7f7 !important;
        color: #191a20 !important
    }

    .navbarlinks a:hover {
        background: #eee !important;
        /*color: #8d99af !important*/
    }

    .header-area .main-nav .nav {
        display: flex !important
    }

}

@media (max-width: 370px) {
    .nav {
        max-width: 140px;
    }
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}

.button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}

.button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
}

.button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
}

.button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.overlay::after {
    content: '';
    position: fixed;
    height: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.67);
}

.header-area {
    position: fixed;
    background: #5bc0de no-repeat fixed center center;
    background-size: cover;
}

.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.banner h1 {
    font-weight: 800;
}

.banner p {
    font-weight: 700;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in-out;
    z-index: 99999;
    padding-top: 7px;
}

.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 1rem;
}

.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}

.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #000000ba;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-sform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}

.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-sform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-sform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #000000;
    font-size: 1.1rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #464646;
}

.navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.header-area {
    background-color: transparent;
    border-bottom: 1px solid rgba(250, 250, 250, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 85px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s
}

@media (max-width: 767px) {
    .header-area {
        background-color: #f7f7f7;
        padding: 0 15px;
        height: 90px;
        box-shadow: none;
        text-align: center
    }

    .header-area .container {
        padding: 0
    }
}


.dropdown-menu {
    margin: 0.125rem 0rem 0rem -2rem;
}


.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    color: #000000;
    font-size: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: color 0.2s ease-in;
}

.dropdown-menu.show {
    box-shadow: 0 0 2px black;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #acb7c2;
}

.navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 2px;
    background-color: #acb7c2;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #19203b;
}

.navbar.fixed-top {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 85px;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #b7afff;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #c0ca33;
}

.content {
    padding: 120px 0;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 20px;
    }

    .navbar-nav {
        padding: 0 20px;
        background-color: rgb(255, 255, 255);
    }

    .navbar-nav .nav-link {
        max-width: 1000px;
    }

    .dropdown-item {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .navbar.fixed-top .navbar-nav {
        background: white;

    }

    .dropdown-menu {
        border: 0;
        margin: 0.125rem 0 0 0;

    }

    .dropdown-menu.show {
        box-shadow: none;
        transform: scaleX(1);
        transition: 1s ease-in-out;
    }

    .navbar .dropdown-menu .dropdown-item {
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 767px) {
    .banner {
        padding: 0 150px;
    }

    .banner h1 {
        font-size: 5rem;
    }

    .banner p {
        font-size: 2rem;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 23px 20px;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 30%;
        right: 30%;
        height: 1px;
        background-color: #000000;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }

    .navbar-dark .navbar-nav .nav-link:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

    .dropdown-menu {
        min-width: 200px;
        -webkit-animation: dropdown-animation 0.3s;
        animation: dropdown-animation 0.3s;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }
}

@-webkit-keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}


ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: rgba(255, 255, 255, 0.7);
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}